p {
    position: fixed;
    z-index: 10;
    margin: 0;
    color: white;
    left: 10px;
    top: 10px;
    font-family: sans-serif;
    font-size: 14px;
  }
  body {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh; /* Ensure the body takes the full height of the viewport */
  }
  #game-container {
    position: relative;
  }
  
  #score-container, #hi-score-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .score-label {
    margin-bottom: 5px;
  }
  
  .score-value {
    font-size: 18px;
    font-weight: bold;
  }
  #startButton {
    background-color: #2ecc71;
    color: rgb(15, 15, 15);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  .hidden {
    display: none;
  }
  /* Add this CSS to your existing styles */
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    width: 60%; /* Adjust the percentage as needed */
  
    /* Center the modal horizontally */
    margin-left: auto;
    margin-right: auto;
  }
  
  .modal-content {
    max-width: 400px; /* Adjust the maximum width as needed */
    margin-left: auto;
    margin-right: auto;
    background-color: #2ecc71;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
  }
  
  .close {
    color: #2ecc71;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(14, 10, 10);
    text-decoration: none;
    cursor: pointer;
  }
  /* ... Your existing styles ... */
  #scoreContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

  /* ... Your existing styles ... */
  
  #restartButton,
  #closeButton {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #080a09;
  }
  